@model List<DataAccess.Models.Product>
@*@model IEnumerable<Product>*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Page "@ViewData["Title"]"  @ViewData["Message"]</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
@foreach (string user in ViewBag.Users)
{
        <li>@user</li>
}
</ul>

<h4>List Products</h4>
<div class="container">
        <h3>Count product: @Model.Count()</h3>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-4">
                    <div class="card">
                    <img src="@product.ImagePath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>

                            <p class="card-text">@product.Description</p>
                            <p class="fw-bold">Price <span class="badge bg-primary">@product.Price</span></p>
                            <a asp-controller="Product" asp-action="Details" asp-route-id=@product.Id class="btn btn-dark">Details</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id=@product.Id class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>

</div>